### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

Observations from Analysis:
- Of the 576 users a 183 different games were purchased for a total revenue of over $2,379. Similar to the initial analysis suggested above the proportion of women players was 14%, but with the smaller population size. 
- Our peak age demographic again falls between 20-24, and again follows the pattern set in the larger sample size referenced above. 
- Although the sample size is significantly smaller than the one mentioned above, 1163 active users compared to 576 the key observations are consistent through both analysis' strengthening the proof that the unique item is the only trend really changing throughout the two analysis'.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [5]:
#total number of players
uniqueplayers = purchase_data['SN'].nunique()
total_players_final = pd.DataFrame({"Total Players": [uniqueplayers]}, columns= ["Total Players"])
total_players_final

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#find number of unique items sold, purchase price, number of purchases, and total revenue for full dataframe
uniqueitems = purchase_data['Item ID'].nunique()
avgprice = (purchase_data['Price'].sum()/purchase_data['Price'].count()).round(2)
totalpurchases = purchase_data['Price'].count()
totalrevenue = purchase_data["Price"].sum()

total_analysis_df = pd.DataFrame({"Number of Unique Items": [uniqueitems], 
                              "Average Purchase Price": [avgprice],
                             "Number of Purchases": [totalpurchases],
                             "Total Revenue": [totalrevenue]}, columns= ["Number of Unique Items", "Average Purchase Price",
                            "Number of Purchases", "Total Revenue"])

total_analysis_df.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
fullcount = purchase_data["SN"].nunique()
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
othercount = fullcount - malecount - femalecount
maleperc = ((malecount/fullcount)*100)
femaleperc = ((femalecount/fullcount)*100)
otherperc = ((othercount/fullcount)*100)

gender_demo_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                        "Total Count": [malecount, femalecount, othercount],
                                        "Percentage of Players": [maleperc, femaleperc, otherperc]},
                                          columns = ["Gender", "Total Count", "Percentage of Players"])
                                        
gender_demo_final = gender_demo_df.set_index("Gender")
gender_demo_final.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
malepurch = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
femalepurch = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()
otherpurch = totalpurchases - malepurch - femalepurch
mpriceavg = purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean()
fpriceavg = purchase_data[purchase_data["Gender"] == "Female"]['Price'].mean()
opriceavg = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
mpricetot = purchase_data[purchase_data["Gender"] == "Male"]['Price'].sum()
fpricetot = purchase_data[purchase_data["Gender"] == "Female"]['Price'].sum()
opricetot = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
mnorm = mpricetot/malecount
fnorm = fpricetot/femalecount
onorm = opricetot/othercount

gender_purchase_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [malepurch, femalepurch, otherpurch],
                                        "Average Purchase Price": [mpriceavg, fpriceavg, opriceavg], "Total Purchase Value": [mpricetot, fpricetot, opricetot],
                                "Avg Total Purchase per Person": [mnorm, fnorm, onorm]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])
                                        
gender_purchase_final = gender_purchase_df.set_index("Gender")
gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [30]:
#create age parameters - 4 year length
#create dataframe of unique players in each age group, find percentage against full count of players

tenyears = purchase_data[purchase_data["Age"] <10]
loteens = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]
hiteens = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]
lotwent = purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]
hitwent = purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]
lothirt = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]
hithirt = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]
loforty = purchase_data[(purchase_data["Age"] >=40) & (purchase_data["Age"] <=44)]
hiforty = purchase_data[(purchase_data["Age"] >=45) & (purchase_data["Age"] <=49)]

age_demo_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                            "Total Count": [tenyears["SN"].nunique(), loteens["SN"].nunique(), hiteens["SN"].nunique(), lotwent["SN"].nunique(), hitwent["SN"].nunique(), lothirt["SN"].nunique(), hithirt["SN"].nunique(), loforty["SN"].nunique(), hiforty["SN"].nunique()],
                            "Percentage of Players": [(tenyears["SN"].nunique()/fullcount)*100, (loteens["SN"].nunique()/fullcount)*100, (hiteens["SN"].nunique()/fullcount)*100, (lotwent["SN"].nunique()/fullcount)*100, (hitwent["SN"].nunique()/fullcount)*100, (lothirt["SN"].nunique()/fullcount)*100, (hithirt["SN"].nunique()/fullcount)*100, (loforty["SN"].nunique()/fullcount)*100, (hiforty["SN"].nunique()/fullcount)*100],
                       })

age_demo_final = age_demo_df.set_index("Age")
age_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
age_purchasing_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                              "Purchase Count": [tenyears["Price"].count(), loteens["Price"].count(), hiteens["Price"].count(), lotwent["Price"].count(), hitwent["Price"].count(), lothirt["Price"].count(), hithirt["Price"].count(), loforty["Price"].count(), hiforty["Price"].count()],
                              "Average Purchase Price": [tenyears["Price"].mean(), loteens["Price"].mean(), hiteens["Price"].mean(), lotwent["Price"].mean(), hitwent["Price"].mean(), lothirt["Price"].mean(), hithirt["Price"].mean(), loforty["Price"].mean(), hiforty["Price"].mean()], 
                              "Total Purchase Value": [tenyears["Price"].sum(), loteens["Price"].sum(), hiteens["Price"].sum(), lotwent["Price"].sum(), hitwent["Price"].sum(), lothirt["Price"].sum(), hithirt["Price"].sum(), loforty["Price"].sum(), hiforty["Price"].sum()],
                              "Avg Total Purchase per Person": [tenyears["Price"].sum()/tenyears['SN'].nunique(), loteens["Price"].sum()/loteens['SN'].nunique(), hiteens["Price"].sum()/hiteens['SN'].nunique(), 
                                                    lotwent["Price"].sum()/lotwent['SN'].nunique(), hitwent["Price"].sum()/hitwent['SN'].nunique(), 
                                                    lothirt["Price"].sum()/lothirt['SN'].nunique(), hithirt["Price"].sum()/hithirt['SN'].nunique(), 
                                                    loforty["Price"].sum()/loforty['SN'].nunique(), hiforty["Price"].sum()/hiforty['SN'].nunique()]}, 
                             columns = 
                            ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

age_purchasing_final = age_purchasing_df.set_index("Age")

age_purchasing_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
sn_total_purchase = purchase_data.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = purchase_data.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = purchase_data.groupby('SN')['Price'].mean().to_frame()

sn_total_purchase.columns=["Total Purchase Value"]
join_one = sn_total_purchase.join(sn_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(sn_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
#merge dataframes to find purchase count, total purchase value for items
#reset indices to dataframes can be merged on specific elements
premergeone = purchase_data.groupby("Item Name").sum().reset_index()
premergetwo = purchase_data.groupby("Item ID").sum().reset_index()
premergethree = purchase_data.groupby("Item Name").count().reset_index()

#merge dataframes
mergeone = pd.merge(premergeone, premergetwo, on="Price")
mergetwo = pd.merge(premergethree, mergeone, on="Item Name")

#start to create final dataframe by manipulating data
mergetwo["Gender"] = (mergetwo["Price_y"]/mergetwo["Item ID"]).round(2)

mergetwo_renamed = mergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#grab columns we are looking for
clean_df = mergetwo_renamed[["Item Name", "Item ID", "Purchase Count", "Item Price", "Total Purchase Value"]]

prefinal_df = clean_df.set_index(['Item ID', 'Item Name'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
#use prefinal dataframe from prior to step to find most profitable items

profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})